.settings
.project
.pydevproject
/jupyterhub_cookie_secret
/jupyterhub.sqlite
*.pyc
libcloudspawner/__pycache__
jupyterhub_conf_noocloud.py
jupyterhub_conf_noocloudq.py
.tox
libcloudspawner.egg-info
doc/build
build/
dist/
jupyterhub-proxy.pid
workspace.code-workspace
.eggs
.vscode/settings.json
