<label for="args"> Operating system </label>
<select name="userserver_image">
	{% for image in userserver_images %}
		<option value="{{ image[1] }}"> {{ image[0] }} </option>
	{% endfor %}
</select>

<label for=\"args\"> Resources </label>
<select name="userserver_size">
	{% for size in userserver_sizes %}
		<option value="{{ size[1] }}"> {{ size[0] }} </option>
	{% endfor %}
</select>
