#!/bin/bash

# This userdata script create a systemd unit which start JupyterNotebook with JHub params
# Requirements :
# Jupyterhub inside /usr/local/bin/
# systemd
#

# Create systemd service
#
cat <<EOF > /etc/systemd/system/jupyterhub-singleuser.service
[Unit]
Description=JupyterHub-singleuser instance
 
[Service]
User={{ user }}
Environment=JPY_API_TOKEN={{ apitoken }}
ExecStart=/usr/local/bin/jupyterhub-singleuser --port=8000 --ip=0.0.0.0 --user={{ user }} --cookie-name={{ cookiename }} --base-url={{ baseurl }} --hub-prefix={{ hubprefix }} --hub-api-url={{ apiurl }}  {{ notebookargs }} \$@
[Install]
WantedBy=multi-user.target
EOF

# Reload systemd commands
# Start and enable service 
systemctl daemon-reload
systemctl restart jupyterhub-singleuser.service
systemctl enable jupyterhub-singleuser.service